name: deno-build
on:
  push:
  pull_request:

jobs:


  npm-publish:
    name: deno-build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        deno-version: [1.3.0]


    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Use Deno Version Latest Stable
    - uses: denoland/setup-deno@v1
      with:
        deno-version: vx.x.x

    - uses: actions/cache@v3
      with:
        path: ${{ env.DENO_DIR }}
        key: ${{ runner.os }}-node-${{ hashFiles('**/deps.ts') }}
        restore-keys: |
          ${{ runner.os }}-node-
    # Scan the code for syntax errors and style issues. If
    # you want to use a custom linter configuration you can add a configuration file with --config <myconfig>
    - name: Deno Lint
    - run: deno lint

    - name: Deno FMT Check Module
      run: deno fmt --check
      continue-on-error: true

    - name: Build Deno Module
      run: deno run --reload src/mod.ts --allow-read --allow-write

      # TODO: NPM create


    # - name: Publish if version has been updated
    #   uses: pascalgn/npm-publish-action@1.3.9
    #   with: # All of theses inputs are optional
    #     workspace: "."
    #     publish_command: "npm"
    #     publish_args: "--non-interactive"
    #   env: # More info about the environment variables in the README
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Leave this as is, it's automatically generated
    #     NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }} # You need to set this in your repo settings